body {
  font-family: sans-serif;
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#mainBody {
  margin-top: 5em;
}

#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#slimeIcon {
  width: 3rem;
  height: 3rem;
}

#home {
  display: flex;
  align-content: center;
}

#login {
  display: flex;
  align-content: center;
}

#userForm {
  margin: 2em;
}

#footer {
  background-color: deeppink;
  width: 100%;
  height: 10px;
  flex-shrink: 0;
}
